.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 4rem;
  border-bottom: 1px solid #d1dbe0;
}

header .header-nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-nav a {
  text-decoration: none;
  color: inherit;
  font-size: 1.3rem;
  padding: 5px 10px;
  border-bottom: 2px solid transparent;
}

.header-nav a:hover {
  border-bottom: 2px solid #3dd2ba;
}

.header-nav a.active {
  padding: 5px 10px;
  border-bottom: 2px solid #3dd2ba;
}
