.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 85vh;
}

.not-found h2 {
  font-size: 3rem;
}

.not-found img {
  width: 30rem;
}

.not-found a {
  font-size: 2rem;
}
